<!-- editProfile is a method that needs a form, editForm, when the form is subitted it takes the current snapshot 
and it is used in editProfile in the ts component  -->
<form class="form" #editForm="ngForm" (ngSubmit)="editProfile(editForm)">
    <label for="name">Name</label>
    <!-- [ngModel]="" is data binding, it looking into t=your typescript file -->
    <input type="text" name="name" id="name" [ngModel]="profile.name">
    <label for="contact">Contact</label>
    <input type="text" name="contact" id="contact" [ngModel]="profile.contact">
    <label for="bio">Bio</label>
    <input type="text" name="bio" id="bio" [ngModel]="profile.bio">
    <button>Update</button>
</form>